/* navigatie */

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.bg-dark.collapse.show {
    background-color: rgb(88, 103, 107);
}

.navbar.navbar-dark.bg-dark.box-shadow {
    background-color: rgb(88, 103, 107);
}

.zwart {
    background-color: rgb(88, 103, 107);
}

.color {
    color: rgb(164, 167, 168);
    font-family: 'Open Sans', sans-serif;
}

.color2 {
    color: rgb(139, 203, 183);
}

.text-white {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: bold;
}

.logo2 {
    width: 45px;
    padding-right: 10px;
}

.type {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;
    font-size: 21px;
    letter-spacing: 3px;
}

/* Pagina Index */

p {
    color: rgb(88, 103, 107);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.groot {
    font-size: 16px;
}

h2,
h3 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: rgb(88, 103, 107);
    text-align: center;
}

h1 {
    font-size: 35px;
    margin-bottom: 25px;
    color: rgb(139, 203, 183);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: 3px;
}

p {
    font-size: 15px;
}

.btn.btn-secondary {
    color: rgb(139, 203, 183);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    border-color: rgb(139, 203, 183);
}

.tekst {
    margin-top: 80px;
    text-align: center;
}

.tekst2 {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.wrapper {
    position: relative;
    margin: 5px;
}

img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(139, 203, 183);
    overflow: hidden;
}

.overlay {
    opacity: 0;
}

.wrapper:hover img {
    opacity: .10;
}

.wrapper:hover .overlay {
    opacity: 3;
}

a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

strong {
    color: rgb(139, 203, 183);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/* Algemene pagina ontwerp */

.portfolio {
    margin-top: 80px;
    text-align: center;
}

.algemeen {
    margin-top: 70px;
    padding-left: 30px;
}

.algemeen2 {
    color: rgb(139, 203, 183);
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.img2 {
    margin-top: 60px;
}

.knop {
    margin-top: 20px;
}

/* Footer */

.footer {
    background-color: rgb(88, 103, 107);
    padding: 12px;
    color: white;
    text-align: center;
}

.logo {
    width: 100px;
    text-align: center;
    padding: 10px;
}

.top {
    margin-top: 80px;
}

.schuif {
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    /* Pagina Index */
    .groot {
        margin-right: 10px;
        margin-left: 10px;
    }
    p.color {
        margin-left: 15px;
        margin-right: 10px;
    }
    h4.text-white {
        margin-left: 15px;
    }
    li {
        margin-left: 15px;
    }
    /* Algemene pagina ontwerp */
    .portfolio {
        margin-top: 2px;
    }
    div.col-lg-4.col-sm-12.algemeen {
        margin-right: 10px;
    }
    /* Footer */
    .logo {
        margin-left: 150px;
    }
    .dicht {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}